
<div class="ui container">
<div class="ui four column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/candle_holder.png">
      </div>
      <div class="content">
        <a class="header" href="/cohorts">Cohorts</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/candle_holder.png">
      </div>
      <div class="content">
        <a class="header" href="/courses">Courses</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/candle_holder.png">
      </div>
      <div class="content">
        <a class="header" href="/instructors">Instructors</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/candle_holder.png">
      </div>
      <div class="content">
        <a class="header" href="/students">Student</a>
      </div>
    </div>
  </div>
</div>


