<h1>Welcome Kamrans Panel</h1>

<button><a href='students#index'>Students</a></button>
<button><a href='instructors#index'>Instructors</a></button>
<button><a href='courses#index'>Courses</a></button>
